amqp
asgiref>=3.7.0
attrs
autobahn
Automat
billiard
cbor2
celery>=5.3.0
certifi>=2023.7.22
cffi
channels>=4.0.0
channels-redis>=4.1.0
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
cryptography>=42.0.0
daphne>=4.0.0
waitress
Django>=4.2.0,<5.0.0
django-appconf
django-compressor
django-cors-headers
django-extensions
django-formtools
django-otp
django-phonenumber-field
django-redis
django-two-factor-auth
dj-database-url
psycopg2-binary>=2.9
et_xmlfile
hyperlink
idna
Incremental
kombu
livekit-api>=0.7.0
MarkupSafe
msgpack
numpy
opencv-python
openpyxl
packaging
phonenumbers
pillow
prompt_toolkit
py-ubjson
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
pypng
python-dateutil
python-dotenv
qrcode
rcssmin
redis
requests
rjsmin
service-identity
setuptools
six
sqlparse
Twisted
txaio
typing_extensions
tzdata>=2023.3
ujson
urllib3
vine
wcwidth
websockets
Werkzeug
wheel
whitenoise
zope.interface
dlib-bin
face_recognition
