{% load static %}
<nav>
    <div class="nav-container">
        {% if user.is_authenticated %}
        <div class="nav-left">
            <a href="{% url 'home' %}" class="nav-brand">
                <img src="{% static 'images/logo.svg' %}" alt="EduMi" class="nav-logo">
            </a>

            {% include 'partials/nav_items.html' with nav_type='topbar' %}
        </div>

        <div class="nav-right">
            {% include 'components/profile_dropdown.html' %}
        </div>
        {% else %}
        <div class="nav-left">
            <a href="{% url 'login' %}" class="nav-brand">
                <img src="{% static 'images/logo.svg' %}" alt="EduMi" class="nav-logo">
            </a>
        </div>
        <div class="nav-right">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}" class="nav-logout">Sign Up</a>
        </div>
        {% endif %}
    </div>
</nav>